---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
  <Navigation pageTitle="about" />
  <div class="max-w-2xl flex flex-col items-center gap-6 mt-6 mx-auto">
    <div>
      The New Jersey Cantors Concert Ensemble (NJCCE) was founded over 60 years
      ago and is the world’s very first choir of both men and women cantors.
      With a group of over twenty hazzanim, the NJCCE features cantors of
      Conservative, Reform, Reconstructionist and unaffiliated congregations
      throughout the State of New Jersey (and beyond). The Ensemble is renowned
      across the country, performing at venues like synagogues, Jewish
      retirement communities, and Jewish day schools. The NJCCE most recently
      performed in concerts at the Cantors Assembly Convention in 2025 and the
      North American Jewish Choral Festival in 2023.
    </div>
    <!-- <hr class="border-purple-200 border-2 w-full" /> -->
    <div>
      Funds raised at these concerts go toward scholarships for cantorial
      students at the Jewish Theological Seminary, Hebrew Union College-Jewish
      Institute of Religion, and the Academy for Jewish Religion.
    </div>
    <!-- <hr class="border-purple-200 border-2 w-full" /> -->
    <div>
      The Ensemble finds great joy in bringing together cantors from across the
      Garden State and bringing the beauty of Jewish music to communities of all
      ages and backgrounds.
    </div>
  </div>
  <!-- <hr class="border-purple-200 border-2 rounded-xs" /> -->
</Layout>
