---
import MemberImage from "./MemberImage.svelte";

interface Props {
  memberImages: ImageMetadata[];
  names: string[];
  bios: string[];
}

const { memberImages, names, bios } = Astro.props;
---

<div
  class="flex flex-row max-sm:flex-col gap-y-4 justify-center items-center flex-wrap"
>
  {
    memberImages.map((memberImage, index) => (
      <MemberImage
        imageSource={memberImage.src}
        name={names[index]}
        bio={bios[index]}
        client:load
      />
    ))
  }
</div>
